name: Bandit Scanner

on:
  push:
  pull_request:

permissions:
  contents: read
  security-events: write

jobs:
  build:
    name: Bandit Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Run Bandit Scanner
        uses: reactive-firewall/python-bandit-scan@v2.3
        with: 
          path: "."
          level: high
          confidence: high
          exit_zero: true     

      - name: Upload SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
          category: bandit-scan
